*,
*::after,
*::before {
  box-sizing: border-box;
}
/* GREEN */
/* #8a979a */
/* grey */
/* #8a979a */
body {
  font-size: 18px;
  line-height: 27px;
  color: black;
  background-color: #ffffff;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
}
/* font-family: 'Homemade Apple', cursive; */

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  max-height: 600px;
  color: white;
  /* opacity: 95%; */
  /* backface-visibility: visible; */
}


.header__top {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 28px;
  line-height: 54px;
  opacity: 60%;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000,
    0 0 50px #ff0000;
}

.header__content {
  padding-top: 60px;
  position: relative;
}
.header__content__text {
  max-width: 400px;
}

.header__title {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000,
    0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
}
.header__subtitle {
  font-family: "Homemade Apple", cursive;
  font-size: 36px;
  line-height: 74px;
  font-weight: 400;
  margin-bottom: 20px;
  /* text-shadow: 0 0 20px #fff, 0 0 30px #ffd000, 0 0 40px #ffd000,
    0 0 50px #ffd000, 0 0 60px #ffd000, 0 0 70px #ffd000, 0 0 80px #ffd000; */

  text-shadow: 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000,
    0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
}

.header__text {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000,
    0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000; */

  text-shadow: 0 0 20px #fff, 0 0 25px #8a979a, 0 0 30px #8a979a,
    0 0 40px #8a979a, 0 0 50px #8a979a, 0 0 60px #8a979a, 0 0 70px #8a979a;
}

.header__button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #8a979a;
  border-radius: 5px;
  opacity: 80%;
  transition: all .5s;
}
.header__button:hover {
    background-color: #fff;
    color:#8a979a
}
.header__social {
  padding: 20px 0 10px 90px;
  display: flex;
  align-items: center;
}
.header__social-link {
  margin-right: 10px;
}

.header__flags {
  opacity: 70%;
  position: absolute;
  right: 0;
  bottom: -50px;
  display: flex;
  justify-content: center;
  width: 500px;
}
.header__images {
  max-height: 120px;
}

.medical {
  padding-top: 50px;
  /* box-shadow: 0 0 20px #fff, 0 0 25px #8a979a, 0 0 30px #8a979a,
    0 0 40px #8a979a, 0 0 50px #8a979a, 0 0 60px #8a979a, 0 0 70px #8a979a; */
}
.medical__title {
  color: #8a979a;
  font-size: 28px;
  line-height: 56px;
  font-weight: 400;
  margin-bottom: 20px;
  position:relative;
}
/* .title::after{
  content: '';
  width:80px;
  height:3px;
  position:absolute;
  top: 30px;
  background-color: #000000;
} */
.medical__inner {
  /* border: 5px solid #e13232; */
  box-shadow: 0 0 50px #8a979a;
  padding: 20px;
  display: flex;
  /* justify-content: space-evenly; */
}
.medical__content {
  flex-basis: 50%;
  /* width: 40vw; */
  /* margin-right: 96px; */
}

.medical__content-box {}
.medical__content-title {
  color:#8a979a;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 12px;
}
.medical__content-textbox {
  margin-bottom: 57px;
}
.medical__content-text {
  margin-bottom: 12px;
  font-size: 18px;
}
.medical__img {
  /* max-height: 200px; */

}

.header__button--decor {
  margin-top: 0px;
}

.medical__img-container{
  flex-basis: 50%;
  background-image: url("../images/medical.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* width: 40px; */
  color: white;
}

.fiscal {
  padding-top: 50px;
  /* box-shadow: 0 0 20px #fff, 0 0 25px #8a979a, 0 0 30px #8a979a,
    0 0 40px #8a979a, 0 0 50px #8a979a, 0 0 60px #8a979a, 0 0 70px #8a979a; */
}
.fiscal__title {
  color: #8a979a;
  font-size: 28px;
  line-height: 56px;
  font-weight: 400;
  margin-bottom: 20px;
  position:relative;
}
/* .title::after{
  content: '';
  width:80px;
  height:3px;
  position:absolute;
  top: 30px;
  background-color: #000000;
} */
.fiscal__inner {
    /* border: 5px solid #e13232; */
    box-shadow: 0 0 50px #8a979a;
  padding: 20px;
  display: flex;
  /* justify-content: space-evenly; */
}
.fiscal__content {
  flex-basis: 50%;
  /* width: 40vw; */
  /* margin-right: 96px; */
}

.fiscal__content-box {}
.fiscal__content-title {
  color:#8a979a;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 12px;
}
.fiscal__content-textbox {
  margin-bottom: 57px;
}
.fiscal__content-text {
  margin-bottom: 12px;
  font-size: 18px;
}
.fiscal__img {
  /* max-height: 200px; */

}

.header__button--decor {
  margin-top: 0px;
}

.fiscal__img-container{
  flex-basis: 50%;
  background-image: url("../images/fiscal.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* width: 40px; */
  color: white;
}

.asistencia {
  padding-top: 50px; }
.asistencia__inner {
    /* border: 5px solid #e13232; */
    box-shadow: 0 0 50px #8a979a;
  background-color: #000000;
  color:#fff;
  display: flex;
  /* justify-content: space-evenly; */
}

.asistencia__title {
  color: #8a979a;
  font-size: 28px;
  line-height: 56px;
  font-weight: 400;
  margin-bottom: 20px;
  position:relative;
}

.asistencia__content {
  flex-basis: 50%;
  padding: 20px;
}
.asistencia__content-title {
  color:#ffffff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 12px;
}
.asistencia_img-containers {
  flex-basis: 50%;
  display:flex;
  flex-direction: column;
}
.asistencia__img-container-1 {
  flex-basis:50%;
  background-image: url("../images/olya_shirt.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  color: white;
  background-attachment: fixed;
}
.asistencia__img-container-2 {
  flex-basis: 50%;
  background-image: url("../images/olya_jacket.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  color: white;
  background-attachment: fixed;
}